body{
    background-color: #0f0f0f;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.txt{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    word-spacing: 3px;
    line-height: 35px;
    min-height: 30vh;
}

.diff{
    animation-name: lol;
    -webkit-animation: lol 3s infinite;
}
@keyframes lol{
    0% {color: #ffbe0b;}
    20% {color: #fb5607;}
    40% {color: #ff006e}
    60% {color: #8338ec}
    80% {color: #3a86ff}
    100% {color: #ffbe0b;}
}